[submodule "vendor/Vulkan-ExtensionLayer"]
	path = vendor/Vulkan-ExtensionLayer
	url = git@github.com:K0bin/Vulkan-ExtensionLayer.git
[submodule "vendor/spirv-cross-sys/SPIRV-Cross"]
	path = vendor/spirv-cross-sys/SPIRV-Cross
	url = git@github.com:KhronosGroup/SPIRV-Cross.git
[submodule "vendor/vma-sys/VulkanMemoryAllocator"]
	path = vendor/vma-sys/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
	active = true
[submodule "vendor/vma-sys/Vulkan-Headers"]
	path = vendor/vma-sys/Vulkan-Headers
	url = git@github.com:KhronosGroup/Vulkan-Headers.git
	active = true
[submodule "vendor/fsr2/FidelityFX-FSR2"]
	path = vendor/fsr2/FidelityFX-FSR2
	url = git@github.com:K0bin/FidelityFX-FSR2.git
	active = true
