[package]
name = "sourcerenderer_engine"
version = "0.1.0"
authors = ["Robin Kertels <robin.kertels@gmail.com>"]
build = "build.rs"
edition = "2018"

[dependencies]
nalgebra = "0.29.0"
num_cpus = "1.13.0"
sourcerenderer_core = { path = "../core" }
image = "0.23.13"
crossbeam-channel = "0.5.0"
crossbeam-utils = "0.8.0"
sourcerenderer_bsp = { path = "../valve_formats/bsp" }
sourcerenderer_vpk = { path = "../valve_formats/vpk" }
sourcerenderer_vtf = { path = "../valve_formats/vtf" }
sourcerenderer_vmt = { path = "../valve_formats/vmt" }
sourcerenderer_mdl = { path = "../valve_formats/mdl" }
sourcerenderer_vtx = { path = "../valve_formats/vtx" }
sourcerenderer_vvd = { path = "../valve_formats/vvd" }
legion = { version = "0.4.0", default-features = false, features=["crossbeam-events", "codegen"] }
regex = "1.4.2"
bitvec = "0.22.3"
rayon = "1.5"
smallvec = "1.6.1"
gltf = "0.16.0"

[features]
default = ["threading", "late-latching"]
late-latching = []
threading = ["legion/parallel"]
web = ["legion/wasm-bindgen"]

[profile.release]
debug = true
