*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/jniLibs/**/libsourcerenderer.so
app/src/main/jniLibs/**/libc++_shared.so
app/src/main/jniLibs/**/libVkLayer_khronos_validation.so
app/src/main/jniLibs/**/libVkLayer_core_validation.so
app/src/main/jniLibs/**/libVkLayer_object_tracker.so
app/src/main/jniLibs/**/libVkLayer_parameter_validation.so
app/src/main/jniLibs/**/libVkLayer_threading.so
app/src/main/jniLibs/**/libVkLayer_unique_objects.so
app/src/main/assets/
