[package]
name = "sourcerenderer_vulkan"
version = "0.1.0"
authors = ["Robin Kertels <robin.kertels@gmail.com>"]
edition = "2018"

[dependencies]
ash = "0.31.0"
sourcerenderer_core = { path = "../../core" }
vk-mem = "0.2.2"
bitflags = "1.2.1"
thread_local = "1.0"
crossbeam-channel = "0.5.0"
spirv_cross = { version = "0.18.0", features = ["hlsl", "msl", "glsl"] }
smallvec = "1.5.1"
rayon = "1.5.0"
crossbeam-utils = "0.8.0"

[dependencies.async-std]
version = "1.6.1"
features = ["unstable"]
